


p { font-family: 'Nunito', sans-serif; color:#FFFFFF; font-size: 22.66px; }

form { margin-left: 800px; }

body {  
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; background-size: cover; 
 }

 .div1 { background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; background-size: contain; background-image:url(Myimage.png);
  height: 1000px; 
  
 }



@media (max-width: 480px) {
    body {
        background-image: url(background.jpg);
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url(background.jpg);
    }
}

@media (min-width: 1025px) {
    body {
	    background-image: url(background.jpg);


   }
}

.div2 { margin-left: 1000px; margin-top: 75px; }

}

div { margin left: 300px; margin-top: 150px }

input {
      width: 400px; padding: 12px;
    box-sizing: border-box;  }

 .divbox{ width: 350px; border-style: solid;border-color: #FFFFFF; padding: 20px;background: #FFFFFF; padding-left: 0px; }


 button { background-color: #3CB54A; text-transform: uppercase; font-style: 'Nunito', sans-serif;color: #FFFFFF; font-size: 22.66px;
 margin-top: 50px ; } 
    



